html,

body {

    background-color:seashell ;
    font-family: 'Montserrat', sans-serif;
}



h1{

text-align: center;

color: white;

font-size: 4em;

font-family: fantasy;

}

h2 {

    text-align: center;

}





body > header {

    background-image: url("mark.jpg");

    padding: 30px 10px;

    grid-column-start: 1;

    grid-column-end: 3;

}

 

h2{

    text-align: center;

    color: white;

}






#coordonnees a {

    color: black;

}


#imgfond{
    width: 320px;
    height: auto;
}