html,

body {

    background-color:seashell ;
    font-family: 'Montserrat', sans-serif;
}


h1{

text-align: center;

color: brown;

font-size: 5em;

font-family: fantasy;

}

h2 {

    text-align: center;

    color: brown;

}





body > header {


    padding: 30px 10px;

    grid-column-start: 1;

    grid-column-end: 3;

}

 





#coordonnees a {

    color: black;

}


#imgfond{
    width: 500px;
    height: auto;
}

div#slider { width: 80%;max-width: 2000px;}

div#slider figure {

    position: relative;
    width: 300%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

.img




 

 

 

li {

    margin: 0px;

    padding-left: 15%;

    font-size: 10px;

    text-align: center;

    padding: 0px;

    float: center;

    width: 150px;

    

}

 

li a {

    display: block;

    color: brown;

    text-align: center;

    padding: 30px 14px;

    text-decoration: none;

}

 

li a:hover {

    background-color: seashell;

    color: rgb(50, 50, 50);

}
img {

    max-width: 12%;
	height: auto;
}